/* added styles for CF */

body {
  position: relative;
  background-color: #fff;
  background-image: url(../img/cloud-squares.png);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: right top;
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'Source Sans Pro', 'Proxima Nova', sans-serif;
  font-size: 15px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  padding-top: 30px;
}
